html{
}
body{

    height: 100%;
	display: table;
	background-color: #f0f0f5;
	min-width:800px;
	overflow-x: auto;
	
	
}
.content_header, .content_body,.content_footer{
	display: table-row;
}
.content_header{
	position: fixed;
	top: 0px;
	width: 100%;
	min-height: 30px;
	max-height:30px;
	background-color: inherit;
}
.content_header_box{
	position:absolute;
	width:100%;
	height:100%;
	background-color:inherit;
	display: flex;
	align-items: center;
   justify-content: flex-end;
}
.content_body {
	position: fixed;
	width:100%;
	top:30px;
	height:100%;
	background-color: white;
	
}
.content_footer{
	position: fixed;
	width: 100%;
	min-height: 30px;
	max-height:30px;
	bottom:0px;
	background-color: inherit;
}
#createHospital{
	position: relative;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	font-size: 12px;
	text-align: center;
	background: #C0C0C0	;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;

  
}
#createHospital:focus {outline:0;}
.content_body_left{
	position:fixed;
	top:50px;
	bottom:50px;
	width:40%;
	margin-left:20px;
}

.content_body_left_header{
	position:fixed;
	height:100px;
	width:40%;
	border-bottom-style:solid;
	border-bottom-color: #C0C0C0;	
	border-bottom-width:1px;
	background: url(ALLIFRONT_LOGO.png);
	background-position: center center;
	background-size: 200px 50px;
	background-repeat: no-repeat;
	background-color:red;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
.content_body_left_body{
	position:fixed;
	width:40%;
	top:150px;
	height:calc(100% - 230px);
	background-color: #2f2f2f;
}
.content_body_left_footer{
	position: fixed;
	width: 40%;
	min-height: 30px;
	max-height:30px;
	bottom:50px;
	background-color: #2f2f2f;
	color: white;
	text-align: center;
}
.logForm{
	position:absolute;
	margin: 0 auto;
	width: 80%;	
	height:90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	/*border: 1px solid #C0C0C0;*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
.HospitalName{
	color:white;
	min-width: 100%;
	font-family: 'Nanum Myeongjo', serif;
	font-size: 60px;
	text-align: center;
}
.appDescriber{
	font-family: 'Nanum Myeongjo', serif;
	 text-decoration: underline;
	color:white;
	
	font-size: 30px;
	text-align: center;
}
#loginForm{
	height:150px;
	padding-top:10px;
	padding-bottom:10px;

	
}
.usernameBoundingBox,.passwordBoundingBox,.loginBtnBoundingBox{
	position: relative;
	direction:ltr;
	height:33%;
	width:100%;
	padding-left:30px;
	margin-bottom: 20px;
	display: -ms-flexbox; /* IE10 */
    display: flex;
}
i{
	padding: 10px;
	background:black;
	color: white;
	text-align: center;
	min-width: 50px;
	height: 40px;
}

input {
	height: 40px;
	width:100%;
	padding: 10px;
	font-family: sans-serif;
    font-size: 20px;
    outline: none;

}
input:focus {outline:0;}
input::placeholder {
   text-align: left;
}

#logInButton{
	width: 100%;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	font-size: 14px;
	text-align: center;
	background: black;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
}
#logInButton:focus {outline:0;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation: autofill 0s forwards;
    animation: autofill 0s forwards;
}

@keyframes autofill {
    100% {
        background: silver;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: silver;
        color: inherit;
    }
}



