body{

    height: 100%;
	display: table;
	background-color: #f0f0f5;
	
}
.content_header, .content_body,.content_footer{
	display: table-row;
}
.content_header{
	position: fixed;
	top: 0px;
	width: 100%;
	min-height: 30px;
	max-height:30px;
	background-color: inherit;
}
.content_body {
	position: fixed;
	width:100%;
	top:30px;
	height:100%;
	background-color: white;
}
.content_footer{
	position: fixed;
	width: 100%;
	min-height: 30px;
	max-height:30px;
	bottom:0px;
	background-color: inherit;
}
.content_body_left{
	position:fixed;
	top:50px;
	bottom:50px;
	width:40%;
	margin-left:20px;
}

.content_body_left_header{
	position:fixed;
	height:100px;
	width:40%;
	border-bottom-style:solid;
	border-bottom-color: #C0C0C0;	
	border-bottom-width:1px;
	background: url(ALLIFRONT_LOGO.png);
	background-position: center center;
	background-size: 200px 50px;
	background-repeat: no-repeat;
	background-color:red;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
.content_body_left_body{
	position:fixed;
	width:40%;
	top:150px;
	height:calc(100% - 230px);
	background-color: #2f2f2f;
}
.content_body_left_footer{
	position: fixed;
	width: 40%;
	min-height: 30px;
	max-height:30px;
	bottom:50px;
	background-color: #2f2f2f;
	color: white;
	text-align: center;
}
.logForm{
	position:absolute;
	margin: 0 auto;
	width: 80%;	
	height:90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: 1px solid #C0C0C0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}




